body {
    background-color: #212121;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.project {
    margin-top: 48px;
    margin-bottom: 48px;
}

a {
    color: inherit;
}

#slides {
    max-width: fit-content;
}

#slidesdiv {
    overflow: hidden;
}

.classitem {
    text-align:center;
    padding-right: 2rem;
}

.classlist {
    display: inline-flex;
}

.horizcard {
    padding-top: auto;
}

.video-container {
    position: relative;
    padding-bottom: 55%;
    padding-top: 30px;
    height: 0px;
}

.profile {
    border-radius: 24px;
    background: #FFFFFF;
    padding: 4px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.nav-link {
    text-align: center;
}

.row {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media screen and (max-width: 576px) {

    .row {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 768px) {

    .classitem {
        padding-right: 1rem;
    }

    .classlist {
        display: inherit;
    }

    .horizcard {
        padding-top: 24px;
    }

}

body {
    background-color: #000000;
    background-image: url("../img/Background.png");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rightmost {
    position: absolute;
    top: 8px;
    right: 16px;
}

.leftmost {
    position: absolute;
    top: 8px;
    left: 16px;
}

.form-group {
    margin-top: 8px;
}

.navbar-brand {
    padding: 12px;
}

.col-md-4 {
    margin-bottom: 8px;
}

.hidelink {
    color: inherit;
    text-decoration: none;
}

.spinner-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
}

.spinner {
    position: absolute;
    z-index: 1000;
    left: 48%;
    top: 45%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(120, 120, 120, 0.15);
    border-right: 6px solid rgba(120, 120, 120, 0.15);
    border-bottom: 6px solid rgba(120, 120, 120, 0.15);
    border-top: 6px solid rgba(0, 0, 0, 0.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}