body{
    background-image: linear-gradient(to bottom, #AB21DC, #FFFFFF);
    background-repeat: no-repeat;
  }
html {
    height: 100%;
}
#prophecy_button{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  height: 20%;
}
form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}
#username, #password{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#choose_template_text{
  font-size: 36px;
}
#templateflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#templates{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#template{
  height:40%;
  width: 40%;
  margin: 20px;
}
#template:hover{
  border: 2px solid purple;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 2px black);
}
#choose_template_text{
  background-color: #D9D9d9;
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px #000000);
}

