body{
    background-image: linear-gradient(to bottom, #AB21DC, #FFFFFF);
    background-repeat: no-repeat;
  }
html {
    height: 100%;
}
#prophecy_button{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  height: 20%;
}
form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}
#username, #password{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#templates{
  display: block;
}
